<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value="learnabcd2030@gmail.com" />
    <add key="ApiKey" value="rxh00e2qwi9u9k9917oyv1xf9km56ibui56w5f6ajm" />
    <add key="BaseUrl" value="https://app.algodocs.com/api" />    
  </appSettings>
</configuration>
