<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value="your_email_address" />
    <add key="ApiKey" value="your_secret_api_key" />
    <add key="BaseUrl" value="https://app.algodocs.com/api" />    
  </appSettings>
</configuration>